.board {
    padding: 3rem 0 0 0;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    height: 475px;
}
.panel{
    margin: 5px auto;
    width: 302px;
    clear: both;
    background-color: blue;
}
.panel>div{
    float: left;
    border: 1px solid green;
    height: 25px;
    width: 50px;
    margin: 1rem 1rem;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}
.row {
    margin: 0 auto;
    width: 302px;
    clear: both;
}
.top {
    border-bottom: 1px solid black;
}
.bottom {
    border-top: 1px solid black;
}
.left {
    border-right: 1px solid black;
}
.right {
    border-left: 1px solid black;
}
.row > div:hover {
   background-color: lightgray; 
}

h1 {
    text-decoration: underline;
    font-family: cursive;
}